<ion-content>
  <ion-slides pager="true">
    <ion-slide>
        <ion-card>
            <ion-card-header>
              <img src="../../../assets/img/dog-with-baby.jpg" />
              <ion-card-title>Procurar cachorros <br/> disponiveis para adoção.</ion-card-title>
            </ion-card-header>
          </ion-card>
    </ion-slide>

    <ion-slide>
        <ion-card>
            <ion-card-header>
              <img src="../../../assets/img/cat-with-you-own.jpg" />
              <ion-card-title>Procurar gatos <br/> disponiveis para adoção.</ion-card-title>
            </ion-card-header>
          </ion-card>
    </ion-slide>

    <ion-slide>
        <ion-card>
            <ion-card-header (click)="adocao()">
              <img src="../../../assets/img/cachorro.png"/>
              <ion-card-title >Cadastrar Pet <br> para adoção.</ion-card-title>
            </ion-card-header>
          </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
