.imagem {
    height: 250px; 
    width: 340px;
    margin-bottom: 10px;
}

.foto {
    height: 250px; 
    width: 340px;
    margin-left: 60px;
}

.labels {
    padding-left: 20px;
}

.espaco {
    margin-bottom: 10px;
}