<ion-header>
  <ion-toolbar>
    <ion-title>Visualizar Pet</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    form [formGroup]="formulario">
  
    <div id="imagem" class="imagem">
      <ion-img [src]="imagem" (click)="tirarFoto()" class="foto"></ion-img>
    </div>
  
    <ion-row>
      <ion-col size="12">
        <ion-label position="floating" class="labels">Nome do Pet:</ion-label>
        <ion-item class="espaco">
          <ion-input type="text" formControlName="nome" placeholder="Digite o nome do pet"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-radio-group formControlName="genero">
      <ion-label class="labels">Gênero do Pet:</ion-label>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>Cachorro</ion-label>
            <ion-radio slot="start" value="Cachorro" checked></ion-radio>
          </ion-item>
        </ion-col>
        
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>Gato</ion-label>
            <ion-radio slot="start" value="Gato"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    
    <ion-radio-group formControlName="sexo">
      <ion-label class="labels">Sexo do Pet:</ion-label>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>Macho</ion-label>
            <ion-radio slot="start" value="M" checked></ion-radio>
          </ion-item>
        </ion-col>
        
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label>Fêmea</ion-label>
            <ion-radio slot="start" value="F"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
  
    <ion-row>
      <ion-label class="labels">Idade do Pet:</ion-label>
      <ion-col size="12">
        <ion-select placeholder="Escolha a faixa de idade do pet" formControlName="idade">
          <ion-select-option *ngFor="let idade of idades" [value]="idade.valor">{{idade.texto}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12">
        <ion-label position="floating" class="labels">Telefone:</ion-label>
        <ion-item class="espaco">
          <ion-input type="number" formControlName="telefone" placeholder="Digite seu telefone para contato"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-label class="labels">Estado:</ion-label>
      <ion-col size="12">
        <ion-select placeholder="Selecione um estado" formControlName="estado" (ionChange)="getCidades()" [(ngModel)]="estado">
          <ion-select-option *ngFor="let estado of brasil" [value]="estado.sigla">{{estado.nome}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-label class="labels">Cidade:</ion-label>
      <ion-col size="12">
        <ion-select placeholder="Selecione uma cidade" formControlName="cidade">
          <ion-select-option *ngFor="let cidade of cidades" [value]="cidade">{{cidade}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  
    <ion-button color="primary" shape="round" expand="full" id="cadastrar" (click)="cadastrarPet()">
        <span class="especial">Cadastrar pet</span>
      </ion-button>
    </form>
</ion-content>
