@import url('https://fonts.googleapis.com/css?family=Pacifico');

#login {
    margin-top: 5%;
}

#titulo, ion-input {
    color: black;
    // margin: 0px 0px 0px 0px;
    font-family: 'Circular Std Medium';
}

#titulo {
    text-align: center;
    color: black;
    font-weight: bolder;
    margin: 6% auto 6% auto;
}

.link {
    font-family: 'Circular Std Medium';
    padding-left: 20%;
    text-decoration: underline;
    color: white;
    font-size: 15pt;
}

ion-content {
    --background: url('../../assets/img/main_background.jpg') center no-repeat;
}

ion-list {
    --ion-item-background: rgba(255, 255, 255, 0.0);
    margin-top: 40%;
    margin-bottom: 5%;
}

ion-item {
    --ion-item-background: rgba(255, 255, 255, 0.2);
    font-size: 15pt;
    color: black;
}