@import url('https://fonts.googleapis.com/css?family=Pacifico');

#login{
    margin-top: 5%;
}

#titulo, .especial, ion-input{
    font-family: 'Pacifico', cursive;
}

#titulo{
    text-align: center;
    color: black;
    font-weight: bolder;
    margin: 6% auto 6% auto;
}

.link{
    padding-left: 20%;
    text-decoration: underline;
}

ion-content{
    --background: url('../../assets/img/main_background.jpg') center no-repeat;
}

ion-list {
    --ion-item-background: rgba(255, 255, 255, 0.0);
    margin-bottom: 5%;
}

ion-item {
    --ion-item-background: rgba(255, 255, 255, 0.2);
    font-size: 15pt;
    color: black;
}